<div class="container mt-5">
  <h1 class="mb-4">📰 Articles du Le Monde Mode Dev'</h1>

  <div
    class="row row-cols-1 row-cols-md-3 g-4"
    *ngIf="articles$ | async as articles"
  >
    <div class="col" *ngFor="let article of articles; trackBy: trackByLink">
      <!-- position-relative pour la stretched-link -->
      <div class="card h-100 position-relative">
        <img
          [src]="article.imageUrl || 'https://via.placeholder.com/300x150'"
          class="card-img-top"
          alt="Image article"
        />

        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text" [innerHTML]="article.description"></p>
        </div>

        <div class="card-footer">
          <!-- lien interne -->
          <a
            [routerLink]="['/article-detail']"
            [state]="{ article: article }"
            class="btn btn-primary"
            >Lire plus</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
