header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  transition: all 0.3s ease;

  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    // Garde le même style
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
}
.header{
    .logo{
        width: 5%;
        .img{
            width: 70px;
            margin-left: 10px;
        }
        
    }
    .lien{
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 80%;
        color: #2C2C2C;
        ul, li{
            list-style: none;
        }
    }
    .abonnement{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-right: 10px;
        .dropdown-item{
          display: flex;
          background-color: #008B8B;
          color: white;
          align-items: center;
          justify-content: center;
          padding: 5px;
        }
    }
}
p{
  margin: 0px;
}

/* Masquer le menu par défaut */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; // Affiché juste en dessous du parent
  left: 0;   // Aligné à gauche du lien parent
  transform: none; // Aucune transformation latérale
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

/* Afficher au survol */
.nav-item:hover .dropdown-menu {
  display: block;
}

/* Optionnel : transition fluide */
.dropdown-menu {
  transition: all 0.3s ease-in-out;
}
.dropdown-item{
  background-color: #F0F0F0;
}


  @media (max-width: 768px) {
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .img{
                width: 70px;
                margin-left: 0px;
            }
        }
        .lien{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
  }
