.header{
    padding: 10px;
    background-color: #F0F0F0;
    .logo{
        width: 5%;
        .img{
            width: 50px;
            height: 50px;
            border-radius: 60px;
            background-color: rgb(129, 129, 129);
        }
        
    }
    .lien{
        align-items: center;
        justify-content: center;
        gap: 25px;
        width: 80%;
        color: #2C2C2C;
        ul, li{
            list-style: none;
        }
    }
    .abonnement{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        .dropdown-item{
          display: flex;
          background-color: #008B8B;
          color: white;
          align-items: center;
          justify-content: center;
          padding: 5px;
        }
    }
}
.p{
  margin: 0px;
}

/* Masquer le menu par défaut */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; // Affiché juste en dessous du parent
  left: 0;   // Aligné à gauche du lien parent
  transform: none; // Aucune transformation latérale
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

/* Afficher au survol */
.nav-item:hover .dropdown-menu {
  display: block;
}

/* Optionnel : transition fluide */
.dropdown-menu {
  transition: all 0.3s ease-in-out;
}
