<div class="header d-flex">
    <div class="logo">
        <p class="img" href="/"></p>
    </div>
    <div class="lien d-flex">
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Gastronomie
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Goût de M Festival</a></li>
        <li><a class="dropdown-item" href="#">Le Monde passe à table</a></li>
        <li><a class="dropdown-item" href="#">Voyage</a></li>
        <li><a class="dropdown-item" href="#">Design & Déco</a></li>
        <li><a class="dropdown-item" href="#">Mode</a></li>
        <li><a class="dropdown-item" href="#">Horlogerie & joaillerie</a></li>
        <li><a class="dropdown-item" href="#">Beauté</a></li>
        <li><a class="dropdown-item" href="#">Le Goût de M</a></li>
        <li><a class="dropdown-item" href="#">Que faire à Paris et en Ile-de-France</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Jeux Vidéos
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Salon du jeu vidéos E3</a></li>
        <li><a class="dropdown-item" href="#">E-sport</a></li>
        <li><a class="dropdown-item" href="#">Jeux d'argent</a></li>
        <li><a class="dropdown-item" href="#">Jeux de société</a></li>
        <li><a class="dropdown-item" href="#">Nintendo</a></li>
        <li><a class="dropdown-item" href="#">Tests de jeu vidéo</a></li>
        <li><a class="dropdown-item" href="#">Tokyo Game Show</a></li>
      </ul>
    </li>
    </div>

    <div class="abonnement">
        <a class="dropdown-item" href="#">
            <p>S'abonner</p>
        </a>
    </div>
</div>
