<header class="header d-flex" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="logo">
        <a href="/home">
            <img class="img" src="assets/Logo_img.png" alt="Logo"/>
        </a>
    </div>
    <div class="lien d-flex">
      <li class="nav-item dropdown position-relative">
        <a class="nav-link dropdown-toggle" href="/gastronomie">
          Gastronomie
        </a>
        <ul class="dropdown-menu custom-dropdown">
          <li><a class="dropdown-item" href="/goutFestival">Goût de M Festival</a></li>
          <li><a class="dropdown-item" href="/mondeTable">Le Monde passe à table</a></li>
          <li><a class="dropdown-item" href="/voyage">Voyage</a></li>
          <li><a class="dropdown-item" href="/designDeco">Design & Déco</a></li>
          <li><a class="dropdown-item" href="/mode">Mode</a></li>
          <li><a class="dropdown-item" href="/horlogerieJoaillerie">Horlogerie & joaillerie</a></li>
          <li><a class="dropdown-item" href="/beaute">Beauté</a></li>
          <li><a class="dropdown-item" href="/gout">Le Goût de M</a></li>
          <li><a class="dropdown-item" href="/paris">Que faire à Paris et en Ile-de-France</a></li>
        </ul>
      </li>
  
      <li class="nav-item dropdown position-relative">
        <a class="nav-link dropdown-toggle" href="/gamePlay">
          Jeux Vidéos
        </a>
        <ul class="dropdown-menu custom-dropdown">
          <li><a class="dropdown-item" href="/salonJeuVideo">Salon du jeu vidéos E3</a></li>
          <li><a class="dropdown-item" href="/esport">E-sport</a></li>
          <li><a class="dropdown-item" href="/jeuxArgent">Jeux d'argent</a></li>
          <li><a class="dropdown-item" href="/jeuxSociete">Jeux de société</a></li>
          <li><a class="dropdown-item" href="/nintendo">Nintendo</a></li>
          <li><a class="dropdown-item" href="/testsJeuVideo">Tests de jeu vidéo</a></li>
          <li><a class="dropdown-item" href="/tokyoGame">Tokyo Game Show</a></li>
        </ul>
    
      </li>
      <li class="nav-item dropdown position-relative">
        <a class="nav-link dropdown-toggle" href="/serviceMonde">
          Services le monde
        </a>
        <ul class="dropdown-menu custom-dropdown">
            <li><a class="dropdown-item" href="/boutiqueMonde">Boutique le Monde</a></li>
            <li><a class="dropdown-item" href="/ateliersMonde">Les ateliers du monde</a></li>
            <li><a class="dropdown-item" href="/cultureGenerale">Mémorable : Améliorer sa culture générale</a></li>
            <li><a class="dropdown-item" href="/motsCroisesSudoku">Mots croisés / Sudoku</a></li>
            <li><a class="dropdown-item" href="/comparatifsGuidesAchats">Comparatifs et guides d'achats</a></li>
            <li><a class="dropdown-item" href="/newsletters">Newsletters</a></li>
            <li><a class="dropdown-item" href="/calculateurEmpreinteCarbone">Calculateur d'empreinte carbone</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown position-relative">
        <a class="nav-link dropdown-toggle" href="/servicePartenaire">
          Services partenaires
        </a>
        <ul class="dropdown-menu custom-dropdown">
            <li><a class="dropdown-item" href="/annoncesLegales">Annonces légales</a></li>
            <li><a class="dropdown-item" href="/parolesChansons">Paroles de chansons</a></li>
            <li><a class="dropdown-item" href="/jardinage">Jardinage</a></li>
            <li><a class="dropdown-item" href="/solitaireGratuit">Solitaire gratuit en ligne</a></li>
            <li><a class="dropdown-item" href="/apprendreAnglais">Apprendre l'anglais</a></li>
            <li><a class="dropdown-item" href="/apprendre-Allemand">Apprendre l'allemand</a></li>
            <li><a class="dropdown-item" href="/apprendreIitalien">Apprendre l'italien</a></li>
            <li><a class="dropdown-item" href="/mahjong">Mahjong gratuit</a></li>
        
        </ul>
      </li>
      <li class="nav-item dropdown position-relative">
        <a class="nav-link dropdown-toggle" href="/guide">
          Guides d'achat
        </a>
        <ul class="dropdown-menu custom-dropdown">
          <li><a class="dropdown-item" href="/fourMicroOnde">Les meilleurs four micro-ondes grill</a></li>
          <li><a class="dropdown-item" href="/reveils">Les meilleurs réveils simulateurs d'aube</a></li>
          <li><a class="dropdown-item" href="/aspirateurs">Les meilleurs aspirateurs balais sans fil</a></li>
          <li><a class="dropdown-item" href="/couteaux">Les meilleurs couteaux de cuisine</a></li>
          <li><a class="dropdown-item" href="/appareilsPhotos">Les meilleurs appareils photos instantanés</a></li>
          <li><a class="dropdown-item" href="/coussinsVoyage">Les meilleurs coussins de voyage</a></li>
          <li><a class="dropdown-item" href="/mixeursPlongeants">Les meilleurs mixeurs plongeants</a></li>
          <li><a class="dropdown-item" href="/boucleursCheveux">Les meilleurs boucleurs à cheveux</a></li>
          <li><a class="dropdown-item" href="/gaufriers">Les meilleurs gaufriers</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown position-relative">
        <a class="nav-link dropdown-toggle" href="/supplement">
          Suppléments partenaires
        </a>
        <ul class="dropdown-menu custom-dropdown">
          <li><a class="dropdown-item" href="/beauteCreatrice">La beauté créatrice</a></li>
          <li><a class="dropdown-item" href="/perspective">Perspective</a></li>
          <li><a class="dropdown-item" href="/voyageCulinaire">Un voyage culinaire riche en saveurs</a></li>
        </ul>
      </li>
    </div>


    <div class="abonnement">
        <a class="dropdown-item" href="abonnement">
            <p>S'abonner</p>
        </a>
        <a class="dropdown-item" href="/connection">
            <p>Se connecter</p>
        </a>
    </div>
</header>
